<template>
    <div>
        <div class="content">
            <div class="search-input">
                <input type="text" class="input-design" v-model="search" @input="getSearchResult($event)">
                <div class="search-tags">
                    <div class="checkbox-design">
                        <input type="checkbox" v-model="uppercaseValue" id="a">
                        <label for="a">UpperCase</label>
                    </div>
                    <div class="checkbox-design">
                        <input type="checkbox"  v-model="lowercaseValue" id="s">
                        <label for="s">LowerCase</label>
                    </div>
                    <div class="checkbox-design">
                        <input type="checkbox"  v-model="transliteValue" id="d">
                        <label for="d">Translite</label>
                    </div>
                    <div class="checkbox-design">
                        <input type="checkbox"  v-model="reversValue" id="f">
                        <label for="f">Revers</label>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <div class="loading">
                    <loader
                            loaderColor="#000000"
                            :loaderShow="!loading"
                    ></loader>
                </div>
                <div class="box" v-if="resultStatus">
                    <p>Результат поиска: </p>
                    <ul>
                        <li v-for="item in results">
                            {{
                                item.Name
                                | uppercase(uppercaseValue)
                                | lowerCase(lowercaseValue)
                                | translit(transliteValue)
                                | reverse(reversValue)
                            }}
                        </li>
                    </ul>
                </div>
                <div v-else>
                    <p class="not-found">По вашему запросу ничего не найдено!</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ApiMethods from "../mixins/ApiMethods.js";
    import loader from "@/components/Loader";
    import CyrillicToTranslit from "cyrillic-to-translit-js";

    export default {
        name: "Search",
        mixins: [ApiMethods],
        components: {
          loader
        },
        filters: {
            uppercase: (name, arg) => {
                if(arg) {
                    return name.toUpperCase();
                } else {
                    return name;
                }
            },
            lowerCase: (name, arg) => {
                if(arg) {
                    return name.toLowerCase();
                } else {
                    return name;
                }
            },
            translit: (name, arg) => {
                if(arg) {
                    return CyrillicToTranslit().transform(name);
                } else {
                    return name;
                }
            },
            reverse: (name, arg) => {
                if(arg) {
                    return name.split("").reverse().join("");
                } else {
                    return name;
                }
            },
        },
        data() {
            return {
                search: "",
                results: [],
                resultStatus: false,
                uppercaseValue: false,
                lowercaseValue: false,
                transliteValue: false,
                reversValue: false,
            }
        },
        methods: {
            getSearchResult(event) {
                let str = event.target.value;
                if(str.length > 1) {
                    this.loading = false;
                    this.getDataNamesFromAPI(str)
                        .then(res => {
                            this.loading = true;
                            this.resultStatus = (res.items.length > 0 ) ? true : false;
                            this.results = res.items;
                        })
                } else {
                    this.results = [];
                    this.resultStatus = false;
                }
            }
        },
    }
</script>

<style scoped>
    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }
    .search-input {
        width: 100%;
    }
    .search-input .input-design{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        width: 100%;
        min-width: 500px;
        min-height: 40px;
        border-radius: 4px;
        border: 1px solid #e8e8e8;
        padding: 5px 15px;
        outline: none;
        font-size: 20px;
        color: #adadad;
    }
    .search-input .search-tags {
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
    }
    .search-input .search-tags .checkbox-design input {
        display: none;
    }
    .checkbox-design label {
        font-family: SF Pro Display;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        cursor: pointer;
        font-size: 20px;
        position: relative;
        margin-bottom: 0;
        font-weight: normal;
        line-height: 20px;
        color: #242424;
    }
    .checkbox-design label::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 27px;
        height: 27px;
        background: #fff;
        border: 1px solid #2F80F3;
        border-radius: 4px;
        transition: 0.1s all;
        margin-right: 20px;
    }
    .checkbox-design label::after {
        content: '';
        position: absolute;
        left: 7px;
        top:calc(50% - 8px);
        width: 13px;
        height: 8px;
        border-left: 3px solid #2F80F3;
        border-bottom: 3px solid #2F80F3;
        opacity: 0;
        transform: rotate(-45deg);
        transition: 0.1s all;
    }
    .checkbox-design input:checked + label::before {
        background-color: #FFFFFF;
    }
    .checkbox-design input:checked + label::after {
        opacity: 1;
    }
    .search-result {
        width: 100%;
        margin-top: 20px;
    }
    .box {
        padding: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .box ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .box ul li {
        font-size: 15px;
        color: #000000;
    }
    .not-found {
        text-align: center;
    }
    .loading {
        text-align: center;
    }
</style>